pkgbase = omarchy-without-borders
	pkgdesc = Mouse Without Borders (PowerToys) client for Linux/Wayland — share mouse, keyboard and clipboard with Windows
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/andrebbruno/omarchy-without-borders
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-pywayland
	depends = python-cryptography
	depends = python-xkbcommon
	depends = libei
	depends = wl-clipboard
	depends = hyprland
	depends = libnotify
	optdepends = gum: assistente de configuração interativo
	optdepends = ufw: liberação automática da porta
	source = omarchy-without-borders-0.1.0.tar.gz::https://github.com/andrebbruno/omarchy-without-borders/archive/v0.1.0.tar.gz
	sha256sums = be282ab5ef1309c2fd6fd91c219b299b3d900dc729f13bdd4cfd302f2d52a859

pkgname = omarchy-without-borders
