pkgbase = omarchy-without-borders
	pkgdesc = Mouse Without Borders (PowerToys) client for Linux/Wayland — share mouse, keyboard and clipboard with Windows
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/andrebbruno/omarchy-without-borders
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-cryptography
	depends = libei
	depends = libnotify
	optdepends = python-pywayland: Hyprland backend
	optdepends = python-xkbcommon: Hyprland backend
	optdepends = wl-clipboard: Hyprland backend clipboard
	optdepends = python-gobject: portal backend (GNOME, KDE)
	optdepends = gum: interactive setup wizard
	optdepends = ufw: open the ports automatically
	source = omarchy-without-borders-0.2.0.tar.gz::https://github.com/andrebbruno/omarchy-without-borders/archive/v0.2.0.tar.gz
	sha256sums = ceff52059e1f414e1ef66559fc0d40cc0db4936153755faedc8d14f22bf5fb84

pkgname = omarchy-without-borders
