pkgbase = omarchy-without-borders
	pkgdesc = Mouse Without Borders (PowerToys) client for Linux/Wayland — share mouse, keyboard and clipboard with Windows
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/andrebbruno/omarchy-without-borders
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-cryptography
	depends = libei
	depends = libnotify
	optdepends = python-pywayland: Hyprland backend
	optdepends = python-xkbcommon: Hyprland backend
	optdepends = wl-clipboard: Hyprland backend clipboard
	optdepends = python-gobject: portal backend (GNOME, KDE)
	optdepends = gum: interactive setup wizard
	optdepends = ufw: open the ports automatically
	source = omarchy-without-borders-0.2.1.tar.gz::https://github.com/andrebbruno/omarchy-without-borders/archive/v0.2.1.tar.gz
	sha256sums = 6eb2601f3da78e5f6929a49588d18b89968877b1d0e6a6de29f7e54e582bd2d0

pkgname = omarchy-without-borders
